<p id="notice"><%= notice %></p>

<article>
  <h1 class="article-title"><%= @article.title %></h1>
  <p>
    <%= sanitize @article.body %>
  </p>
  <div class="link-bar">
    <%= link_to 'Back', articles_path %>
    <% if current_user && current_user.author? %>
    <%= link_to 'Edit', edit_article_path(@article) %>
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <%= link_to 'New Article', new_article_path %>
    <% end %>
  </div>
</article>
